*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  display: flex;
  background-color: #007bff;
  color: white;
  padding: 1em;
  text-align: center;  
  justify-content: center;
}

.title {
  font-size: 3rem;             
  font-weight: bold;             
  color: white;           
  letter-spacing: 2px;         
  text-transform: capitalize;  
  margin: 0 100px;                   
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: 'Arial', sans-serif; 
}

.nav {
  display: flex;
  justify-content: center;
}

.backButton {
  width: 100px;
  height: 50px;
  display: flex;                
  justify-content: center;    
  align-items: center;         
  padding: 15px 20px;      
  margin: 0 10px;    
  background-color: #28a745;   
  color: white;                 
  font-size: 20px;             
  border-radius: 10px;        
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  cursor: pointer;              
  text-align: center; 
  transition-duration: 0.4s;
}

.backButton:hover {
  background-color: #218838;
}

.logoutButton {
  width: 100px;
  height: 50px;
  display: flex;                
  justify-content: center;    
  align-items: center;         
  padding: 15px 20px;          
  background-color: #ff1e1e;   
  color: white;                 
  font-size: 20px;             
  border-radius: 10px;        
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  cursor: pointer;              
  text-align: center; 
  transition-duration: 0.4s;
}

.logoutButton:hover {
  background-color: #aa1414;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 300px 100px 50px;
}


footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
