*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 1.5em 2em; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky; 
  top: 0;
  z-index: 1000;
}

.project-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.loginButton {
  width: 140px; 
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  background-color: #28a745;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
  transition: all 0.3s ease; 
  text-align: center;
}

.loginButton:hover {
  background-color: #218838; 
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
}


.body {
  display: flex;               
  justify-content: center;    
  align-items: center;        
  height: 80vh;               
  margin: 0;                  
  background-color: #f0f0f0;  
}

.container {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px 40px;
  width: 300px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
  width: 100%;                 
  padding: 10px;               
  margin: 10px 0;                
  border: 1px solid #ccc;       
  border-radius: 5px;            
  box-sizing: border-box;     
  font-size: 1rem;               
  transition: border-color 0.3s, box-shadow 0.3s; 
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007bff;        
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  outline: none;             
}

label {
  font-size: 1rem;
  color: #333;
  display: block;             
  text-align: left;             
  margin-bottom: 5px;        
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #0056b3;   
}

.registerButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 100%;
}

.registerButton:hover {
  background-color: #218838;   
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
